.banner {
    /* 75vh -> 75% del tamano de la pantalla */
    height: 75vh;
    /* Alinea el contenido */
    align-content: center;
    position: relative;

    .bold {
        font-weight: 700;
    }

    .content {
        text-align: center;
        /* posicion del contenido */
        z-index: 1;
        position: relative;
    }

    .image {
        background-image: url('../assets/app/catalog.jpg');
        /* Elimina la posibilidad de que se repita la imagen */
        background-repeat: no-repeat;
        /* cubre todo el espacio sin deformar la imagen */
        background-size: cover;
        /* centra la imagen */
        background-position: center;
        opacity: 0.3;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

}