/* en components se situan por ejemplo todos los botones que vamos a tener en la pag */

/* Button */
.btn {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    /* quita la linea del link */
    text-decoration: none;
    padding: 0.7rem;
    /* quita el problema de que se encimen los botones */
    display: inline-block;
    border-radius: 8px;
    border: 1px solid var(--main-brand-color);

    &.secondary {
        background-color: transparent;
        border: 1px solid var(--main-text-color);
    }
}

@media screen and (hover: hover) {
    .pointer {
        cursor: pointer;
    }

    .btn {
        cursor: pointer;

        &:hover {
            background-color: var(--main-brand-color-light);
        }
    }

    /* .btn:hover{
    } */
}

/*  Form classes */
.form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        margin-bottom: 0.5rem;
    }

    .input {
        padding: 1rem;
        border-radius: 5px;
        border: none;
        background: var(--input-bg-color);
        color: var(--main-text-color);
    }

    [type="file"] {
        display: none;
    }

    /* input[type="file"] {
    display: none;
    } */
}

/* 
id -> #id
class -> .class
tag -> p, button, h1
all -> *
attribute -> 
*/