/* .footer {
    background-color: blue;
    Margen, espaciado entre el borde y resto de los elementos
    margin-top: 80px;
    margin-right: 40px;
    margin-left: 40px;
      T    R    B   L 
    margin: 80px 40px 0 40px;
       Y    X 
    margin: 80px 40px;
     Todos los lados 
    margin: 40px;
    BORDER, espaciado entre el padding y el margen
    border: 2px solid red;
    border-radius: 20px;
    PADDING, espaciado entre el contenido y el borde
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
} */

.footer {
  /* NADA DE TEXTO: JUSTIFY */
  text-align: center;
  /* Le da peso o ancho a la tipografia */
  font-weight: 100;
  /* estilos de tipografia */
  font-style: italic;
  /* Transforma los textos */
  text-transform: lowercase;
  padding: 2em 0;
  /* 1rem -> 16px es relativo al font-size del root*/
  /* 1em ->  16px es relativo al ".main-bg" */
  font-size: 1rem;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

}

@media screen and (width > 768px) {
  .footer {
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
  }
}