.info {
    /* implementar en mi practica con el texto del banner */
    width: 90%;
    margin: 0 auto;
    max-width: 768px;

    .assets {
        position: relative;
        display: flex;
        justify-content: center;

        img {
            width: 16em;
            z-index: 2;
        }

        video {
            top: 30px;
            position: absolute;
            width: 10em;
            z-index: 1;
        }
    }
}